* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #1a1a1a;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Organiza os elementos em coluna */
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Adiciona separação vertical entre nome e slogan */
}

.logo-img {
    width: 100px; /* Aumenta a largura da imagem */
    height: auto; /* Ajusta a altura proporcionalmente */
    margin-bottom: 1rem; /* Espaço entre a imagem e o título */
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2rem;
    margin-top: 0.5rem; /* Espaço entre o nome e o slogan */
}

nav {
    background-color: #333;
    padding: 0.5rem 0;
    position: sticky;
    top: 0; /* Fixa o menu no topo */
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    display: none;
    margin-bottom: 2rem;
}

section h2 {
    color: #1a1a1a;
    margin-bottom: 1rem;
}

#nossa-historia, #vulnerabilidades, #pentest, #aulas-gratuitas {
    display: block; /* Apenas uma aba será exibida por vez */
}

footer {
    text-align: center;
    padding: 1rem;
    background: #1a1a1a;
    color: white;
}

footer p {
    margin: 0;
}
